@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
	margin: 0px;
	padding: 0px;
	background: #151c21;
	font-family: "Albert Sans";
	font-size: 22px;
	color: white;
}
.header {
	display: flex;
	height: 92px;
	min-width: max-content;
	background-color: #d9d9d933;
	border: 1px;
	margin: 57px 233px;
	border-radius: 10px;
	align-items: center;
	justify-content: space-between;
}
.header-left {
	display: flex;
	align-items: center;
}
.header-left > img {
	height: 115px;
	width: 203px;
	align-self: center;
	justify-self: center;
	margin: 20px;
}
.vl {
	width: 1px;
	height: 55px;
	align-self: center;
	justify-self: center;
	background: #ffffff42;
}
.header-left > ul {
	display: flex;
	list-style: none;
	align-items: center;
	justify-content: space-between;
}
.header-left > ul > li {
	margin: 10px;
	width: max-content;
	font-weight: 700;
	font-size: 18px;
}
.header-right {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 230px;
	margin: 20px;
	font-weight: 700;
	font-size: 18px;
}
.header-right > p {
	margin: 0px 12px;
	position: relative;
	top: 3px;
}
.header-right > div > img {
	height: 26px;
	width: 26px;
	border-radius: 50%;
	align-self: center;
	position: relative;
	top: 5px;
}
.content-title {
	font-weight: 700;
	font-size: 65px;
	width: 700px;
}
.display-card {
	padding: 5px 100px;
	display: flex;
}
.content-line {
	font-weight: 500;
	font-size: 23px;
	width: 700px;
}
.content-line > span {
	background: linear-gradient(#9d403e, #e8431f);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 600;
}
.button1 {
	background: linear-gradient(to right, #9d403e, #e8431f);
	border-radius: 125px;
	border: none;
	color: white;
	width: 300px;
	height: 45px;
	padding: 4px 44px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 27px;
	font-weight: 500;
}
.button2 {
	border-radius: 53px;
	background: transparent;
	border: none;
	color: white;
	width: max-content;
	height: 58px;
	padding-left: 20px;
	text-align: center;
	display: inline-block;
	font-size: 25px;
	font-weight: 500;
	position: relative;
	bottom: 3px;
}
#arrow {
	border-top: 3px solid #ffffffa8;
	border-right: 3px solid #ffffffa8;
	border-radius: 1px;
	position: relative;
	bottom: 6px;
	width: 8px;
	height: 8px;
	display: inline-block;
	rotate: 45deg;
	align-self: center;
	justify-self: center;
}
.box-container {
	margin-left: 40px;
	margin-top: 80px;
	display: block;
	min-width: 600px;
}
.box {
	background: linear-gradient(to right, #9d403e, #e8431f);
	border-radius: 15px;
	position: relative;
	border: none;
	color: white;
	padding: 0px 20px;
	display: inline-block;
	font-size: 30px;
	font-weight: 700;
	width: max-content;
	height: 50px;
	align-content: center;
}
#a {
	padding: 3px 20px;
	top: 5px;
	left: 10px;
}
#b {
	padding: 0px 20px;
	top: 5px;
	left: 80px;
}
#c {
	left: -120px;
	top: 80px;
}
#d {
	top: 85px;
	left: -50px;
}
#e {
	top: 110px;
}
#f {
	left: 110px;
	top: 110px;
}
#g {
	top: 120px;
	left: 210px;
}
#h {
	top: 185px;
	left: -10px;
}
#i {
	left: 35px;
	top: 150px;
}
#j {
	top: 220px;
	left: -210px;
}
#k {
	top: 180px;
	left: 280px;
}
.down-arrow {
	width: 100%;
	display: flex;
	position: relative;
	margin: 50px 0px;
	justify-content: center;
}
.down-arrow > img {
	width: 50px;
	height: 50p;
}
.sale {
	background: linear-gradient(to left, #9d403e, #e8431f);
	display: flex;
	height: 70px;
	align-items: center;
	justify-content: space-around;
	padding: 0px 95px;

}
.sale-1 > span {
	font-weight: 700;
	font-size: 28px;
}
.sale-2 {
	background: white;
	padding: 10px;
	border-radius: 15px;
}
.sale-2 > span {
	background: linear-gradient(to right, #9d403e, #e8431f);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 700;
	padding: 2px 10px;
}
.button-bar {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0px 350px;
	margin: 55px 0px;
}
.button-bar-1 {
	background: linear-gradient(to left, #9d403e, #e8431f);
	border-radius: 8px;
	border: none;
	color: white;
	width: max-content;
	height: 45px;
	padding: 4px 44px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 27px;
	font-weight: 500;
	box-shadow: 0px 0px 10px #e8431f;
}
.button-bar-2 {
	border-radius: 8px;
	background: transparent;
	color: white;
	border: 1px solid white;
	width: max-content;
	height: 45px;
	padding: 4px 44px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 22px;
	font-weight: 500;
}
.cards {
	margin: 45px 45px 0px 45px;
	padding: 35px;
	display: flex;
}
.card-1 {
	background: #5e2928;
	display: flex;
	max-width: 400px;
	flex-wrap: wrap;
	padding: 15px;
	border-radius: 10px;
	margin: 15px;
}
.card-1 > div {
	width: 495px;
	display: flex;
	justify-content: space-between;
}
.card-title {
	justify-content: center;
	text-align: center;
	width: 100%;
	font-weight: 700;
	font-size: 35px;
	margin: 15px;
}
.card-line-1 {
	max-width: 155px;
	height: 2px;
	background: #d9d9d9ab;
	border-radius: 1px;
	display: inline;
	justify-self: center;
	position: relative;
	left: 125px;
}
.card-1 > div > p {
	margin: 10px;
}
.card-1 > div > p > img {
	height: 20px;
	position: relative;
	top: 3px;
	left: 5px;
	filter: invert();
}
.card-line-2 {
	max-width: 205px;
	height: 1px;
	background: #d9d9d9ab;
	border-radius: 1px;
	display: inline;
	justify-self: center;
	position: relative;
	top: 20px;
}
.card-1-small {
	font-size: 15px;
	margin: 10px;
}
.card-right-element {
	font-weight: 600;
}
.mark > img {
	height: 20px;
	position: relative;
	top: 3px;
	right: 20px;
	filter: invert();
}
.card-line-3 {
	max-width: 205px;
	height: 1px;
	background: #d9d9d9ab;
	border-radius: 1px;
	display: inline;
	justify-self: center;
	position: relative;
	top: 5px;
	left: 11px;
}
.see-more {
	font-size: 18px;
	position: relative;
	left: 10px;
	color: #c5c5c5;
	display: flex;
}
.card-arrow {
	display: flex;
	height: 7px;
	max-width: 7px;
	border-top: 2px solid #c5c5c5;
	border-right: 2px solid #c5c5c5;
	position: relative;
	top: 25px;
	left: 20px;
	rotate: 45deg;
}
.card-title > span {
	font-size: 25px;
	font-weight: 500;
	position: relative;
	left: -5px;
}
.best-seller {
	display: inline-block;
}
.card-buttons {
	display: flex;
	margin: 0px;
	padding: 0px;
	min-width: 100%;
	justify-content: space-around;
}
.card-button {
	background: linear-gradient(to left, #9d403e, #e8431f);
	padding: 10px 100px;
	border-radius: 15px;
	font-weight: 600;
}
.we-offer {
	margin: 60px 100px;
	max-width: 100%;
	display: flex;
	justify-content: space-between;
}
.we-offer-line {
	width: 100%;
	height: 1px;
	background: #d9d9d9;
	position: relative;
	top: 22px;
	border-radius: 1px;
}
.we-offer-text {
	min-width: max-content;
	font-weight: 700;
	font-size: 35px;
	margin: 0px 50px;
}
.we-offer-text > span {
	background: linear-gradient(#9d403e, #e8431f);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 700;
}
.account-cards {
	display: flex;
	justify-content: space-between;
	margin: 100px;
}
.account-card {
	background: #9d403e4d;
	min-width: 400px;
	padding: 15px;
	margin: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 20px;
	background: url(top.png) left 0px top -12px no-repeat, 
	url(middle.png) left 0px top 0px repeat-y, 
	;
	background-image: url(Group\ 1548.png) left 0px top -12px no-repeat, url(bottom.png) left 0px bottom -12px no-repeat;
	/* background-position: right bottom no repeat; */
	background-size: 200px 700px;
}
.account-card-title {
	margin: 0px;
	padding: 0px;
	font-size: 40px;
	font-weight: 700;
	margin-top: 15px;
}
.account-card-content {
	font-size: 25px;
	margin: 0px;
	background: #b5b5b5;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.account-card-list > li {
	font-size: 22px;
	margin-top: 10px;
	list-style-type: none;
	padding: 0;
}
.account-card-list > li::before {
	content: "✔️";
	margin-right: 10px;
}
.account-card-button {
	border: 1px solid #9d403e;
	margin-top: 70px;
	width: 200px;
	height: 50px;
	border-radius: 8px;
	background: transparent;
	color: white;
	font-size: 25px;
	font-weight: 500;
}
.it-work {
	margin: 60px 0px 0px 0px;
	max-width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 0px 200px;
}
.it-work-line {
	width: 300px;
	height: 1px;
	background: #d9d9d9;
	position: relative;
	top: 22px;
	border-radius: 1px;
}
.it-work-text {
	min-width: min-content;
	font-weight: 700;
	font-size: 35px;
}
.work-step {
	display: flex;
	border: 1px solid;
	margin: 100px 200px 100px 200px;
	padding: 50px;
	border-radius: 20px;
}
.work-step-title {
	font-weight: 700;
	font-size: 32px;
}
.work-step-image {
	display: flex;
	align-items: center;
	justify-content: center;
}
.work-step-image > img {
	height: 220px;
	width: 220px;
	margin-right: 100px;
	filter: drop-shadow(0px 0px 50px #e8431f);
}
.work-buttons {
	display: flex;
}
.work-step-content > p > span {
	color: #e8431f;
}
.work-button-1-box {
	border-radius: 5px;
	height: 20px;
	width: 20px;
	background: #9d403e;
}
.work-button-1 {
	border: 2px solid #9d403e;
	width: 150px;
	height: 50px;
	padding: 0px 15px;
	border-radius: 25px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.work-button-1 > p {
	font-size: 15px;
	margin: 0px;
	padding: 0px;
}
.work-button-2 {
	margin: 0px 20px;
	border: 2px solid #e8431f;
	width: 170px;
	height: 50px;
	padding: 0px 15px;
	border-radius: 25px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.work-button-2 > p {
	font-size: 15px;
	margin: 0px;
	padding: 0px;
}
.work-button-2-box {
	border-radius: 50%;
	height: 20px;
	width: 20px;
	background: #e8431f;
}
.down-arrow-bar {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.down-arrow-bar > div {
	width: 50px;
	height: 50px;
	border-bottom: 13px solid #9d403e;
	border-right: 13px solid #9d403e;
	rotate: 45deg;
	border-radius: 8px;
}
.arrow-1 {
	position: relative;
	left: 62px;
	bottom: 35px;
}
.center-line {
	padding: 0px 190px;
	margin: 0px 90px;
	text-align: center;
}
.difference {
	margin: 0px 250px;
}
.difference-top {
	margin: 0px 100px;
	display: flex;
	min-width: 1000px;
}
.difference-top > img {
	height: 87px;
	width: 87px;
	filter: drop-shadow(0px 0px 50px #e8431f);
	position: relative;
	right: 40px;
	bottom: -12px;
}
.difference-top > p {
	font-weight: 700;
	font-size: 35px;
}
.difference-top > p > span, .difference-bottom > p > span {
	background: linear-gradient(to right, #e8431f, #9d403e);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.difference-bottom {
	display: flex;
	min-width: 1000px;																																						;
}
.difference-bottom > div {
	min-width: 60px;
	height: 40px;
	border-bottom-left-radius: 25px;
	border-image: linear-gradient(to right, #e8431f 0%, #9d403e 100%) 1;
	border-bottom: 14px solid ;
	border-left: 14px solid;
	margin: 40px;
	position: relative;
	left: 57px;
	bottom: 40px;
}
.difference-bottom > p {
	margin: 0px 30px;
}
.difference > button {
	height: 44px;
	width: 340px;
	border: 2px solid #FFFFFF;
	background: transparent;
	color: white;
	border-radius: 30px;
	font-size: 22px;
	font-weight: 500;
	margin-left: 185px;
}
.difference-button-2 {
	align-items: center;
	text-align: center;
	justify-content: center;
	padding: 0px;
	display: flex;
	background: white;
	border-radius: 2px;
}
.difference-button-2 > img{
	width: 33px;
	height: 33px;
}
.difference-button-2 > p { 
	margin-left: 10px;
	background: transparent;
}
.suggestion-cards {
	display: flex;
	margin: 50px 100px;
	justify-content: space-between;
	/* background: radial-gradient(ellipse, #E8431F 30%, #9D403E 70%); */
}
.suggestion-card {
	width: 420px;
	margin: 10px;
	display: flex;
	flex-wrap: wrap;
	border: 2px solid #e8431f;
	border-radius: 20px;
	padding: 25px 0px 0px 25px;
	/* background: linear-gradient(#E8431F, #9D403E), rgba(0,0,0,0.1); */
	
}
.suggestion-card-title {
	width: fit-content;
	max-width: 260px;
	font-size: 35px;
	font-weight: 700;
	color: #e8431f;
}
.suggestion-card-img > img {
	height: 130px;
	position: relative;
	bottom: 80px;
}
.suggestion-card-content {
	position: relative;
	top: -40px;
}
.suggestion-card-bottom {
	width: 100%;
	display: flex;
	padding-right: 15px;
	justify-content: flex-end;
	align-items: center;
	position: relative;
	top: -10px;
	right: 10px;
}
.suggestion-card-bottom > button {
	background: transparent;
	border: none;
	color: white;
	font-size: 16px;
}
.suggestion-card-bottom > div {
	height: 6px;
	width: 6px;
	border-top: 1px solid white;
	border-right: 1px solid white;
	rotate: 45deg;
	position: relative;
	top: 2px;
}
.presentation-video {
	height: 550px;
	margin: 10px 200px;
	max-width: 100%;
	align-self: center;
	justify-self: center;
	background: #D9D9D9;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.presentation-video > p {
	color: #151c21;
	font-size: 45px;
	font-weight: 700;
}
.get-funded {
	margin: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.get-funded > p {
	background: linear-gradient(to right, #e8431f 0%, #9d403e 100%);
	padding: 5px 60px;
	border-radius: 20px;
	font-weight: 700;
}
.table-wrapper {
	padding: 0px 100px;
}
table {
	width: 100%;
	padding: 60px;
	background: transparent;
	margin: 10px;
	border-collapse: collapse;
	padding: 100px;
}
th {
	padding: 10px 20px;
	align-items: center;
	justify-content: center;
	border-bottom: 2px solid #646464;
	border-right: 2px solid #646464;
}
td {
	font-size: 15px;
	max-width: 150px;
	text-align: center;
	padding: 10px;
}
th > img, td > img {
	height: 30px;
}
table th:last-child {
	border-right: none;
}
table td:not(:last-child) {
    border-right: 2px solid #646464; /* Bold border between columns */
}
table td:not(:first-child){
	font-size: 13px;
}
table tr, td {
    border-bottom: 2px solid #646464; /* Bold border between rows */
}
table td:nth-child(5),
table td:nth-child(6),
table td:nth-child(7),
th:nth-child(5),
th:nth-child(6),
th:nth-child(7)
{
	border-right: none;
}
